body {
    background-image: url("https://res.cloudinary.com/dcsssn1gt/image/upload/v1779043982/background-converter_cnaoar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    width: 35%;
    height:auto;
    border-radius: 7px;
    padding-bottom: 40px;
    background-color: rgba(29, 238, 168, 0.367);
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.title {
    margin-top:50px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: whitesmoke;
    margin-bottom: 10px;
} 
.form {
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
}
.select {
    height: 30px;
    border-radius: 4px;
}
.inputAmount {
    height: 30px;
    border-radius: 4px;
    padding-left: 10px;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: rgb(7, 81, 43);
}
.containerAmount {
    display: flex;
    gap: 15px;
    align-items: center;
}
.btnSubmit {
    height: 30px;
    border-radius: 4px;
    background-color: aquamarine;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: rgb(7, 81, 43);



}
.label {
    color: whitesmoke;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.result {
    color: aquamarine;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
    visibility: hidden;
    margin-bottom: 0px;
}
.result2 {
    color: rgb(222, 243, 248);
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size:medium;
    visibility: hidden;
    margin-top: 0px;
}